.item{
  display: grid;
  min-height: 40px;
  width: 100%;
  padding: 5px 5px 5px 15px;
  grid-template-columns: 30px 1fr 40px;
  border-radius: 10px;
  align-items: center;
  &:hover{
    //background-color: #ececec;
    cursor: pointer;
  }
  input{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  button{
    background-color: rgb(221, 4, 4);
    color:#fff;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      background-color: rgb(189, 0, 0);
    }
  }
}

.complete{
  color: #0e7fbf;
  text-decoration: line-through;
}