.controlButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: flex-end;
  height: 80%;
  
  button{
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 50px;
    cursor: pointer;
 
    &.accept{color: white; background-color: #2ad83e;}
    &.cancel{color: white; background-color: #b40000;}
  }
}